:root{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;

    --white-100: #f9fafb;
    --gray-100: #e9e7e7;
    --purple-400: #976aff;
    --purple-500: #8358e7;
    --red-400: #ef4444;
    --yellow-500: #ffef5e;
    --brown-700: #292524;

    background-color: var(--purple-400);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    max-width: 100rem;
    width: 100%;
    height: 100vh;

    padding: 0 2rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#modal{
    background-color: var(--white-100);
    width: 14rem;  
    padding: 20px;

    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}
.hidden{display: none;}
.show{display: block}
#modal > button{
    background-color:  var(--yellow-500);
    border: 2px solid var(--brown-700);
    border-radius: 5px;
    color: var(--white-100);
    width: 3rem;
    height: 2rem;
}

.infos{ 
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    color: var(--brown-700);
}

.infos h1{
    font-size: 7rem;
    font-weight: 900;
}
.infos h1>span { color:  var(--yellow-500);}
.infos-content{
    display: flex;
    gap: 1rem;
}
.infos-content div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.infos-content div p{ font-size: 1.5rem; }
.infos-content div i {
    font-size: 2rem;
    color: var(--yellow-500)
}
.infos > p{
    margin: 2rem 2rem 2rem 0;
    font-size: 1.5rem;
    width: 80%;
    text-align: justify;
}

.form{
    width:  37.5rem ; /* 600px */
    height: 50rem ; /* 800px */

    background-color: var(--yellow-500);
    border: 5px solid var(--brown-700);

    border-radius: 20px;
    border-bottom-right-radius:60px ;
    border-bottom-left-radius:60px ;

    display: flex;
    justify-content: center;
    position: relative;
}
form > h2{ font-size: 2.5rem;}

.form-content {
    height: calc(75% + 15px);
    width: calc(90% + 15px);

    margin-top: 2rem;
    border: 15px solid var(--brown-700);
    border-radius: 5px;
    background-color: var(--white-100);
}

.form-content form{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2.5rem;
}

.form-content form h2{ color: var(--purple-400)}

.form-group{
    width: 90%;
    height: 3.5rem;
}

.form-group input, .form-group select{
    width: 100%;
    height: 90%;
    padding-left: 20px;

    border: none;
    border-radius: 5px;
    background-color: var(--gray-100);
    outline-color:  var(--purple-400);
}

::placeholder{
    color: var(--brown-700)
}
.form-group span{
    margin-left: 10px;
    font-size: 0.875rem;
    color: var(--red-400);
    display: none;
}

.form-button {
 position: absolute;
 bottom: 3rem;
}

.form-button > button{
    border: 4px solid var(--brown-700);
    width: 10rem;
    height: 4rem;
    border-radius: 5px;
    font-weight: bold;

    background-color:  var(--purple-400);
    font-size: 1.25rem;
    color: var(--white-100);

}
.form-button > button:hover{
    background-color:  var(--purple-500);
}

@media (max-width: 1200px){
    html{font-size: 90%;}
}
@media(max-width: 950px){
    main{
        height: 100%;
        padding: 2rem 0;
        flex-direction: column;
    }
    .infos, .infos-content{align-items: center;}
    .infos > p { text-align: center;}
}
@media(max-width: 550px){
    html{font-size: 70%;}
    .infos{width: 90%;}
    .form{width: 90%;}
    .infos h1{font-size: 5rem;}
}
@media(max-width:450px){
    .infos-content{ gap: 0;flex-direction: column;}
    .infos p { 
        width: 90%; 
        margin: 1rem 0 1rem 0;
        }
}